@import '@sass/settings/_settings';

.enterprise {
    max-width: 400px;
    background-color: $vreel_blue_dark;
    box-shadow: 0px 1.79739px 43.1373px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    // padding-top: 3.5rem;

    @media only screen and (min-width: 642px) {
        max-width: 360px;
        margin: unset;
    }

    &__container{
        width: 100%;
        border-radius: 20px;
        background-color: $vreel_light_gray;
        padding: 12px 15px;

    &__title {
            @include displayFlex(auto, flex, space-between, center);
            padding-bottom: 10px;
    
            span {
                color: $vreel_white;
            }
        }
    
        &__inputContainer {
            // @include componentsBorder(1px dashed $secondary, $rounded-2xl);
    
            &__topText {
                @include displayFlex(100%, flex, flex-start, flex-start);
                flex-direction: column;
                padding: 12px 15px;
                
                &__btn{
                    @include displayFlex(100%, flex, space-between, center);
                    > div{
                        margin-right: 10px;
                    }
                }
                .linkText {
                    color: $secondary;
                    font-weight: $font-semibold;
                    font-size: 14px;
                    padding-bottom: 10px;
                }
            }
    
            &__inputField {
                // @include componentsBorder(1px solid $vreel_white, $rounded-2xl);
                margin: 10px 0;
                // padding: 11px 10px;
    
                &__addLogoContainer {
                    @include displayFlex(100%, flex, center, center);
                    margin-top: 10px;
    
                    &__logoContent {
                        width: 40%;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}