@import "@sass/settings/_settings";
@import "../HeroSlider/HeroSlider.module.scss";

.menuContainer {
  @include displayFlex(100%, flex, space-between, center);
  position: fixed;
  z-index: 99;
  padding: 1rem 3rem;
  @media only screen and (max-width: 642px) {
    padding: 1rem;
  }

  p {
    font-size: 20px;
    font-weight: 600;
    color: $vreel_white;
    text-transform: uppercase;
  }
  &__menu {
    color: $vreel_white;
    font-size: 36px;
    cursor: pointer;
    display: block;
  }
}

.carrotDown {
  position: fixed;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  @media only screen and (max-width: 642px) {
    bottom: 25px;
  }
  img {
    width: 100%;
    height: 40px;
    object-fit: cover;
  }
}

.override {
  margin-bottom: 1rem;
}
