// TEXT SIZES

$text-xxs: 10px;
$text-xs: 12px;
$text-small:14px;
$text-base: 1rem;
$text-md: 1.125rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-2xl: 1.8rem;
$text-3xl: 2.8rem;

// FONT WEIGHTS
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// Padding common
$slide-padding:12px 10px;


