// COLORS HEX

$primary: #000000;
$secondary: #ff7a00;
$vreel_red: #ff3d00;
$vreel_dark_red: #ff0000;
$vreel_green: #11b03e;
$vreel_light_green: #61ff00;
$vreel_gray: #cbd5e0;
$vreel_gray_2: #d9d9d9;
$vreel_blue: #1877f2;
$vreel_blue_dark: #242a41;
$vreel_gray_dark: #2d3450;
$vreel_light_gray: #424242;
$vreel_white: #ffffff;
$vreel_light_gray_dark: #909090;
$vreel_deep_blue_dark: #0c1020;
$vreel_slide_btn_color: #002116;
$vreel_white_gray: #8d8d8d;

// COLORS HSL

$primary-hsl: hsl(0, 0%, 0%);
$secondary-hsl: hsl(29, 100%, 50%);
$vreel_red-hsl: hsl(349, 91%, 50%);
$vreel_green-hsl: hsl(137, 82%, 38%);
$vreel_gray-hsl: hsl(211, 25%, 84%);
$vreel_blue-hsl: rgb(104, 110%, 119%);
$vreel_blue_dark-hsl: hsl(228, 29%, 20%);
$vreel_gray_dark-hsl: hsl(228, 28%, 25%);
$vreel_light_gray-hsl: hsl(0, 0%, 26%);
$vreel_white-hsl: hsl(0, 0%, 100%);
