@import "@sass/settings/_settings";
.imgContainer {
  width: 100%;
  height: 132px;
  padding: 6px 5px;
  background-color: $secondary;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__addLogo {
    @include displayFlex(100%, flex, center, center);
    padding: 0 4px 3px 4px;

    span {
      font-size: 8px;
      padding-right: 4px;
      color: $vreel_white;
    }
    .img {
      @include displaySizing(18px, 18px);
      object-fit: cover;
    }
  }
}
