@import '@sass/settings/_settings';

.submit{
    text-align: center;
    &__btn{
        background-color: #424242;
        padding: 6px 16px;
        font-size: 14px;
        font-weight: 500;
        color: $vreel_white;
        border-radius: 8px;
    }
}