@import "@sass/settings/_settings";

.sectionContainer {
  @include displaySizing(100%, 100%);
  padding: 1rem 3rem;
  padding-bottom: 0;
  margin: 0 auto;
  overflow: hidden;

  @media only screen and (max-width: 642px) {
    padding: 0.5rem 1rem;
    padding-bottom: 0;
  }
  &__childrenContainer {
    max-width: 950px;
    height: calc(100% - calc(40px + var(--pheight)));
    margin-inline: auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  &__buttonTopContainer {
    @include displayFlex(100%, flex, space-between, center);
    height: 40px;
    h2 {
      font-weight: 600;
      color: $vreel_white;
      font-size: 24px;
    }
    &__menu {
      width: 36px;
      height: 36px;
      color: $vreel_white;
      cursor: pointer;
    }
  }
  &__buttonBottomContainer {
    @include displayFlex(100%, flex, center, center);
    height: var(--height);
    transform: rotate(180deg);
   
      img {
        width: 40px;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    
  }
}
