@import '@sass/settings/_settings';

.callToActionsContainer{
    padding: $slide-padding;
    color:$primary;

    select{
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        outline: none;
        margin-bottom: 8px;
    }
    &__btnGrid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 8px;
        margin: 20px 0;
        background-color: $vreel_white;
        border-radius: 10px;
        & > div{
            padding: 8px 2px;
            border-radius: 10px;
            transition: all .1s ease-in-out;
            @include displayFlex(auto,flex,center,center);
            cursor: pointer;
            flex-direction: column;
            & > span{
                font-size: 8px;
                line-height: 13px;
            }
            img{
                width: 21px;
                height: 21px;
                object-fit: fill;
            }
        }
        .active{
            background-color: $secondary;
        }
        .deactive{
            background-color: $vreel_white;
        }
    }
}