@import '@sass/settings/_settings';

.socialsContainer{
    max-width: 418px;
    background-color: $primary;
    min-height: 100vh;
    &__socials{
        padding: 30px 12px;
        h1{
            font-size: 30px;
            font-weight: 600;
            color: $vreel_white;
            padding-bottom: 30px ;
            text-align: center;
        }
        &__iconsContainer{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            place-items: center;
            border: 1px solid red;
            @media only screen and (max-width:360px){
                grid-template-columns: repeat(1, 1fr);
            }
            &__icons{
                @include displayFlex(156px,flex,center,center);
                height: 156px;
                border-radius: 50%;
                cursor: pointer;
            }
            &__iconsName{
                font-size: 18px;
                font-weight: medium;
                color:$vreel_white;
                text-transform: uppercase;
                padding-top: 10px;
                text-align: center;
                padding-bottom: 20px;
            }
        }
    }
}