@import '@sass/settings/_settings';

.inputWrapper {
  background-color: $vreel_white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 14px;

  input,
  textarea {
    border: none;
    background: transparent;
    width: 100%;
    font-family: 'Poppins';

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
      font-family: 'Poppins';
    }
  }
}
