@import '../../../../styles/sass/settings/_settings';

.generalMenu{
    position: fixed;
    width: 100vw;
    min-height: 100%;
    background-color: $primary;
    opacity: .9;
    transition: all .5s ease-in-out;
    z-index: 9999999999999;
    overflow: hidden;

    @media only screen and (max-width:642px){
        min-height: 100%;
    }
    .container{
        width: 100%;
        min-height: 100vh;
        position: relative;
        padding: 0 50px;
        @media only screen and (max-width:642px) {
            padding: 0 10px;
            min-height: 100%;
        }
        .logoContainer{
            position: absolute;
            bottom: 20px;
            right: 30px;
            @media only screen and (min-width:768px) {
                left:55px;
            }
            @media only screen and (max-width:642px) {
                bottom: 0px;
            }

            // only for safari IPhone 6,,7,8
            @media not all and (min-resolution:.001dpcm) {
                @media only screen and (max-width:642px) {
                    bottom:1rem;
                }
            }
            
            .logo{
                @include displayFlex(auto,flex,flex-start,center);
                p{
                    color: $vreel_white;
                }
                div{
                   @include displaySizing(47px, 52px);
                   img{
                       @include displaySizing(100%,100%);
                       object-fit: cover;
                   }
                }
            }
       }

       .menuContainer{
        width: 100%;
        height: 80vh;
        @include displayFlex(100%, flex,space-between, flex-start);
        flex-direction: column;
        @media only screen and (max-width:774px){
            height: 90vh;
        }
        &__menu{
            @include displayFlex(auto, flex, flex-start, flex-end);
            @include displaySizing(100%, 100%);
            flex-direction: column;
            padding-top: 70px;
        }
        &__menuLink{
            @include displayFlex(100%,flex,flex-end,flex-start);
            flex-direction: column;
            position: absolute;
            bottom: 5rem;
            // // only for safari IPhone 6,,7,8
            // @media not all and (min-resolution:.001dpcm) {
            //     @media only screen and (max-width:642px) {
            //         bottom: 5rem;
            //     }
            // }
          
            button{
                font-weight: $font-bold;
                border: none;
                transition: all .5s;
                text-transform: capitalize;
                letter-spacing: 3px;
                background-color: transparent;
                font-size: $text-2xl;
                padding: 0 10px;
                cursor: pointer;
                color: $vreel_white;
                padding-bottom: 15px;
            
                @media only screen and (max-width:768px) {
                    font-size: $text-xl;
                }
                &:hover {
                    color: $secondary;
                    display: inline-block;
                }
            }
        }
       }
       
    }
}
.active{
    transform: translate(0px);
}
.deactive{
    transform: translate(100%);
}