@import '@sass/settings/_settings';

.slidesContainer {
  @include displayFlex(100%, flex, space-between, flex-start);

  &__leftSides {
    max-width: 360px;
    height: 120vh;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
    
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }

    &__content{
      background-color: $vreel_blue_dark;
      padding-bottom: 45px;
      border-radius: $rounded-xl;
      &__addNewBtn{
        @include displayFlex(100%, flex, space-between, center);
        padding: 17px;
        @media only screen and (max-width:1024px) {
          @include displayFlex(100%, flex, center, center);
        }
       
       &__span{
        display: block;
        color: $vreel_white;
        font-size: $text-small;
        font-weight: $font-semibold;
        width: max-content;
        @media only screen and (max-width:1024px){
          display: none;
        }
       }

      }
    }
  }
  &__rightSlides {
    position: sticky;
    top: 0;
    right: 0;
    margin-left: 1%;
    display: none;

    @include displaySizingMinH(calc(100% - 360px), 100vh);
    @media only screen and(min-width:1024px) {
      display: block;
    }
    // @media only screen and (min-width: 1236px) {
    //   @include displaySizing(61%, max-content);
    // }
    &__container {
      background-color: $vreel_light_gray;
      border-radius: $rounded-2xl;
      padding: 16px;
      @include displaySizing(80%, max-content);
      margin: 0 auto;
      transition: all 0.5s ease-in-out;
      @media only screen and(min-width:1236px) {
        @include displaySizing(60%, max-content);
        margin: 0 auto;
      }

      &__prevToggleBtn {
        @include displayFlex(100%, flex, center, center);
        padding: 13px 0;
        div > p {
          color: $vreel_white;
          font-size: 12px;
          text-align: center;
          padding: 7px;
        }
      }
    }
  }
}
.active {
  @include displaySizing(100%, max-content);
}
