@import "@sass/settings/_settings";
.moreInfoBtn {
  @include displayFlex(auto, flex, space-between, center);
  padding-top: 12px;
  button {
    padding: 5px 10px;
    background-color: $vreel_white;
    border-radius: 7px;
    .bold {
      font-weight: $font-bold;
    }
    .italic {
      font-style: italic;
    }
    .underline {
      text-decoration: underline;
    }
  }
}

.moreInfo {
  @include displaySizing(100%, 100%);
  &__flex {
    @include displayFlex(100%, flex, space-between, flex-start);
    padding:$slide-padding;

    &__left {
      @include componentsBorder(3px solid $secondary, 10px);
      margin-right: 16px;
      padding: 5px 0px;

      > div:not(:last-child) {
        padding: 0px 21px;
      }


      p{
        font-size: 10px;
        color: $vreel_white;
        font-weight: 500;
        text-align: center;
        padding-bottom: 5px;
        line-height: 15px;
      }
     
      &__submit{
        @include displayFlex(100%, flex, space-between, center);
        padding: 0 5px;
        
      }

      &__button {
        margin-bottom: 4px;
      }
    }
  }
  &__toggleBtn {
    @include displayFlex(auto, flex, center, center);
    padding-top: 5px;
  }
  &__text{
    padding: 10px;
    color: $secondary;
    text-align: center;
  }
  &__richText{
    padding:$slide-padding;
  }
}

.linksGroup{
  margin-top: 1.5rem;

  &__mainContent{
    margin-bottom: 1.5rem;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__active{
    border-radius: 13px;
  }
  &__deactive{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }

  &__container{
    max-width: 80%;
    margin-inline: auto;
    background-color: $secondary;
    padding: 6px;
    padding-bottom: 10px;
    
    &__content {
        max-width: 80%;
        margin-inline: auto;

        &__title{
          font-weight: $font-semibold;
          padding-bottom: 10px;
          @include displayFlex(100%,flex,center,center);
          &__icons{
            font-weight: $font-bold;
          }
        }
    
        p {
          font-size: $text-small;
          line-height: 21px;
          color: $vreel_white;
          text-align: center;
        }

        &__addCreadits{
          @include displayFlex(80%, flex,space-between,center);
          background-color: $vreel_white;
          color: $primary;
          padding: 6px 10px;
          border-radius: 10px;
          margin-inline: auto;

          p{
            color: $primary;
            font-size: $text-small;
          }
          
        }
      }
  }

  &__bottom{
    max-width: 80%;
    background-color: $vreel_blue_dark;
    margin: 0 auto;
    padding: 8px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    &__container{
      @include displayFlex(85%, flex, space-between, center);
      margin-inline: auto;
      &__logoContainer{
        @include displayFlex(100%, flex, flex-start, center);
        &__logo{
          @include displaySizing(40px,40px);
          margin-right: 10px;
          img{
            @include displaySizing(100%, 100%);
            object-fit: cover;
          }
        }
      }

      &__cross{
        font-size: 17px;
        color: $vreel_white;
      }
    }
  }
}

 .select {
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   outline: none;
   font-size: 10px;
   margin: 5px 0;
   border: none;
 }