@import '../../../VreelSlider/VreelSlider.module.scss';

.menuContainer{
    @include displayFlex(calc(100% - 6rem),flex,space-between,center);
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    p{
        font-size: 20px;
        font-weight: 600;
        color: $vreel_white;
    }
    &__menu{
        color: $vreel_white;
        font-size: 36px;
        cursor: pointer;
    }
}

