@import '@sass/settings/_settings';

.grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;

    @media only screen and (max-width:642px){
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    div {
    
        border: 1px solid red;
        padding: .2rem;
        position: relative;

        &::before{
            content: '';
            padding-top:100%;
            background-color: green;
            display: block;
        }
        img{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            aspect-ratio: 1/1;
        }
    }
}