@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Black.ttf');
    font-weight: 900;
  }
  