@import '@sass/settings/_settings';
.buttonContainer {
    background-color: $vreel_light_gray;
    border-radius: 30px 30px 0 0;
    height: 52px;
    padding: 5px 10px;
    @include displayFlex(100%, flex, flex-start, center);

    p {
        font-size: 20px;
        font-weight: 600;
        color: $vreel_white;
        padding-left: 20px;
        width: 45%;
    }

    button {
        height: 6px;
        background-color: $vreel_white;
        padding: 0px 40px;
        border-radius: 20px;
    }
}