@import '../GeneralMenu/GeneralMenu.module.scss';

.logOutBtn{
    color: $vreel_white;
    background-color: transparent;
    border: 0;
    font-weight: $font-bold;
    font-size: $text-2xl;
    cursor: pointer;
    margin-bottom: 0;
    @media only screen and (max-width:642px) {
        margin-bottom: 2rem;
    }

}
.menuAccContainer{
    @include displayFlex(auto, flex, flex-start, flex-start);
    @include displaySizing(100%, 100vh);
    flex-direction: column;
    padding-left: 30px;
    padding-top: 70px;
    @media only screen and (max-width:642px) {
        padding-left: 10px;
    }
}