@import "@sass/settings/_settings";

.mediaContainer {

  &__leftItem {
    height: auto;
    &__mediaImgContainer {
      @include displayFlex(100%, flex, center, center);
      flex-direction: column;
      height: 80px;
      background-color: $secondary;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      img {
        @include displaySizing(64px, 64px);
        object-fit: contain;
      }
    }
    &__mediaContainer {
      @include displayFlex(100%, flex, space-between, center);
      height: 145px;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &__imgContainer {
        overflow: hidden;

        &__logoContent {
          height: 100px;
          @include displayFlex(129px, flex, center, center);
          // flex-direction: column;
          background-color: $secondary;
          border-radius: 14px;
          flex-wrap: wrap;
          // margin: 0 auto;
          img {
            @include displaySizing(60%, 60%);
            object-fit: fill;
          }
        }
      }

      &__input{
        h3{
          color: $vreel_white;
          font-size: $text-xs;
          text-transform: capitalize;
          margin-bottom: 1rem;
          text-align: center;
        }
        &__container {
          border: 1px solid rgba(255,255,255, 0.5);
          border-radius: 10px;
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          label {
            margin-top: -16px;
            background: #8D8D8D;
            color: $vreel_white;
            font-size: $text-xs;
            padding: 0 10px;
          }
          input {
            width: 100%;
            background: transparent;
            font-size: $text-xs;
            border: 0;
            color: $vreel_white;
          }
        }

      }

      &__iconsContainer {
        width: 50%;

        &__title {
          text-align: center;
          font-size: 11px;
          opacity: 0.8;
          p {
            padding-top: 0;
            text-transform: capitalize;
          }
        }

        &__inputContainer {
          @include displayFlex(100%, flex, space-between, center);
          border-radius: 6px;
          position: relative;
          margin: 18px 0;

          label {
            color: $vreel_white;
            font-size: 8px;
            position: absolute;
            top: -5%;
            left: 35%;
            background-color: $vreel_gray_dark;
            padding: 0 8px;
            transform: translate(-50%, -50%);

            @media (min-width: 400px) and (max-width: 640px) {
              left: 25%;
            }
            @media (max-width: 500px) {
              left: 33%;
            }
          }

          input {
            @include displaySizing(100%, 100%);
            @include componentsBorder(none, 10px);
            padding: 10px 12px;
            background-color: transparent;
            outline: none;
            color: $vreel_white;
            font-size: 12px;
          }
        }

        &__iconContainer {
          @include displayFlex(auto, flex, space-between, center);
          max-width: 100px;
          margin: 0 auto;
          gap: 10px;
          button {
            color: $secondary;
            cursor: pointer;
            @include displaySizing(20px, 20px);
            &.btn_preview{
              background: $secondary;
              color: $vreel_white;
              padding: 10px;
              border-radius: 5px;
              margin: 10px 0;
              @include displaySizing(100%, 100%);
            }
            &.btn_delete{
              background: $vreel_dark_red;
              color: $vreel_white;
              padding: 10px;
              border-radius: 5px;
              margin: 10px 0;
              @include displaySizing(100%, 100%);
            }
            img {
              @include displaySizing(100%, 100%);
              object-fit: cover;
            }
            a {
              color: $secondary;
            }
            .viewIcon {
              font-size: 20px;
            }
          }
        }
      }
    }

    &__mediaImg {
      @include displaySizing(100%, calc(100% - 15%));

      img,
      input {
        @include displaySizing(100%, 100%);
        object-fit: cover;
        border-radius: 20px;
      }
    }
    &__playBtn {
      padding: 3px 0px 8px 8px;
      @include displayFlex(auto, flex, flex-start, center);
      height: 15%;
      span {
        font-size: 7px;
        margin-left: 2px;
      }
      button {
        margin-top: 3px;
      }
    }
  }
}

.inputActive {
  border: 1px solid $vreel_gray;
}

.inputDeactive {
  border: 1px solid $vreel_gray;
  opacity: 0.4;
}
