@import "@sass/settings/_settings";

// .slideContainer {
  // @include componentsBorder(1px dashed $secondary, auto);
  // margin-bottom: 20px;
  // .button {
  //   color: $secondary;
  //   background-color: transparent;
  //   border: none;
  //   font-weight: $font-semibold;
  //   @include displayFlex(100%, flex, space-between, center);
  //   padding: 8px 10px;
  //   cursor: pointer;
  //   transform: scale(1);
  // }
  // .slide {
  //   width: 100%;
  //   overflow: hidden;
  //   transition: all 0.5s ease-in-out;
    .slideBody {
      color: $vreel_white;
      background-color: $vreel_deep_blue_dark;

      &__titleSection{
        border-bottom: 1px dashed $secondary;
        padding: 10px 10px 18px 10px;
      }

      &__saveBtn {
        margin-bottom: 20px;
        text-align: right;
        padding: 0 10px;
      }
      &__delBtn {
        padding: 20px 0;
        text-align: center;
      }
      &__media {
        border-bottom: 1px dashed $secondary;
        &__content{
          background-color: $vreel_blue_dark;
          margin-bottom: 18px;
          padding: 12px 10px;
         
        }
        &__header{
          @include displayFlex(100%, flex, space-between,center);
          padding: 16px 10px;
          &__toggle{
            span{
              font-size: 10px;
            }
          }
        }
      }

      &__callToActions{
        border-bottom: 1px dashed $secondary;

        &__title{
          padding: 16px 10px;
        }

      }

      &__advanced{
      &__title {
          padding: 16px 10px;
        }
      }

    }
  // }

// }

.activeHeight {
  border-radius: 10px;
}
.deActiveHeight {
  border-radius: 15px;
}


