@import "@sass/settings/_settings";
.vLinksContainer {
  max-width: 427px;
  background-color: $primary;
  margin: 0 auto;
  border-radius: 30px 30px 0 0;
  height: 100vh;
  position: relative;
  &__slide {
      height: 100%;
    &__vLinks {
      @include displayFlex(100%,flex,space-between,center);
      height: calc(100% / 3);
      padding: 12px;
      border-bottom: 2px solid $vreel_light_gray_dark;

      // @media only screen and (max-height:500px) and (min-height:450px) {
      //     grid-template-rows: repeat(2, 1fr);
      // }
      &:last-child{
          border-bottom: none;
      }
      &__imgContainer {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__items {
        color: $vreel_white;
        text-align: center;
        margin: auto 0;
        height: 100%;

        &__btn {
          padding-top: 10px;
          button {
            width: 100%;
            background-color: $vreel_white;
            font-weight: 600;
            letter-spacing: 0.9px;
            padding: 9px 0;
            border-radius: 10px;
          }

          &__readMore {
            padding: 8px 30px;
            text-transform: uppercase;
          }
        }

        &__h2{
          font-size: 20px;
          opacity: 0.9;
          @include textElipsis(2);
        }

        p {
          font-size: 13px;
          opacity: 0.9;
          line-height: 17px;
          letter-spacing: 0.9px;
          padding-top: 5px;
          @include textElipsis(1);
        }
      }
    }
    .orderFirst {
      order: 1;
      padding-right: 7.5px;
    }

    .orderLast {
      order: 2;
      padding-left: 7.5px;
    }
  }
}
