@import "@sass/settings/_settings";


  .container{
    position: relative;
  &__slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    @media only screen and (max-width:1024px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &__vLinks {
      @include displayFlex(50%,flex,center,center);
      height: 50%;
      padding: 20px 0;
  
      @media only screen and (max-width:1024px) {
        width: 100%;
        height: calc(100% / 3);
      }
      @media only screen and (max-height:500px) and (min-height:450px) {
          height: 45%;
      }

      &__imgContainer {
        width: 55%;
        height: 100%;
        padding: 0 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
          }
        
      }

      &__items {
        color: $vreel_white;
        text-align: center;
        margin: auto 0;
        padding: 0 10px;
        @include displayFlex(45%,flex,center,center);
        flex-direction: column;
        height: 100%;
        
        &__btn {
          padding-top: 10px;
          width: 100%;
          button {
            width: 100%;
            background-color: $vreel_white;
            font-weight: 600;
            letter-spacing: 0.9px;
            padding: 9px 0;
            border-radius: 10px
          }

          &__readMore {
            padding: 8px 30px;
            text-transform: uppercase;
          }
          &__textElipse{
            @include textElipsis(1);
          }
        }

        &__h2{
          font-size: 20px;
          opacity: 0.9;
          @include textElipsis(2);
          @media only screen and (max-height:500px) and (min-height:450px) {
            @include textElipsis(1);
          }
        }

        p {
          font-size: 13px;
          opacity: 0.9;
          line-height: 17px;
          letter-spacing: 0.9px;
          padding-top: 5px;
          @include textElipsis(1);
        }
      }
    }
  }
}
   
.orderFirst {
  @media only screen and (max-width:1024px){
    order: 1;
  }
}
.orderLast {
  @media only screen and (max-width:1024px) {
      order: 2;
    }
}
.imgBorderRightSide{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.imgBorderLeftSide{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.infoBtn{
  @include displayFlex(100%,flex,space-evenly,center);
  margin-top: 40px;

  @media only screen and (max-height:700px) and (min-height:400px) {
    margin-top: 10px;
  }
}