@import "@sass/settings/_settings";

.container {
  position: relative;
  &__slide {
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    // Next Hub Device
    @media only screen and (width: 1024px) and (height: 600px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      justify-content: space-between;
    }

    // Next Hub Max Device
    @media only screen and (width: 1280px) and (height: 800px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      justify-content: space-between;
    }
    &__vLinks {
      @include displayFlex(49%, flex, space-between, center);
      height: 48%;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (max-width: 1024px) {
        @include displayFlex(98%, flex, space-between, center);
        height: 33%;
      }

      @media only screen and (max-height: 500px) and (min-height: 450px) {
        height: 45%;
      }

      // Next Hub Device
      @media only screen and (width: 1024px) and (height: 600px) {
        @include displayFlex(49%, flex, space-between, center);
        height: 48%;
      }

      // Next Hub Max Device
      @media only screen and (width: 1280px) and (height: 800px) {
        @include displayFlex(49%, flex, space-between, center);
        height: 48%;
      }

      &__imgContainer {
        width: 55%;
        max-height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 10px;
        border-radius: 10px;
        // @media only screen and (max-width:360px) {
        //   width:100%;
        //   height: auto;
        // }

        // @media only screen and (max-width:768px) and (min-width:1024px){
        //   width: 100%;
        //   height: 80%;
        // }
        img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            border-radius: 10px;
            overflow: hidden;

            @media only screen and (max-width:414px){
              width: 100%;
              height:100%;
            }
            @media only screen and (max-width:1500px) and  (min-width:1300px){
              width: 70%;
              aspect-ratio: 1;
            }

            @media only screen and (min-width:1500px) {
              width: 90%;
              aspect-ratio: 1;
            }
          }
        }
      }

      &__items {
        color: $vreel_white;
        text-align: center;
        margin: auto 0;
        @include displayFlex(45%, flex, space-evenly, center);
        flex-direction: column;
        height: 100%;
        padding: 0 10px;

        &__btn {
          padding-top: 10px;
          width: 100%;
          button {
            width: 100%;
            max-width: 150px;
            background-color: $vreel_white;
            font-weight: 600;
            letter-spacing: 0.9px;
            padding: 9px 0;
            border-radius: 10px;
          }

          &__readMore {
            padding: 8px 30px;
            text-transform: uppercase;
          }
          &__textElipse {
            @include textElipsis(1);
          }
        }

        &__h2 {
          font-size: 20px;
          opacity: 0.9;
          @include textElipsis(2);
          @media only screen and (max-height: 500px) and (min-height: 450px) {
            @include textElipsis(1);
          }
        }

        p {
          font-size: 13px;
          opacity: 0.9;
          line-height: 17px;
          letter-spacing: 0.9px;
          padding-top: 5px;
          color: $vreel_white;
          @include textElipsis(1);
        }
      }
    }
  }


.orderFirst {
  @media only screen and (max-width: 1024px) {
    order: 1;
  }
}
.orderLast {
  @media only screen and (max-width: 1024px) {
    order: 2;
  }
}
.imgBorderRightSide{
  @media only screen and (max-width:1024px) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.imgBorderLeftSide{
  @media only screen and (max-width:1024px) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

}

.infoBtn {
  @include displayFlex(100%, flex, space-evenly, center);
}
