@import '../../../styles/sass/settings/_settings';

.authContainer{
    @include displaySizing(100vw, 100vh);
    position: relative;
    display: flex;
    overflow: hidden;
    .authBackBtn{
        position: absolute;
        top: 40px;
        left: 40px;
        color:$vreel_white;
        cursor: pointer;
        display: block;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        .icons {
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }
        &:hover {
            .icons,
            p {
                color: $secondary;
                transition: all 1s ease-in-out;
            }
        }
    }

    .img{
        @include displaySizing(60%, 100vh);
        display: block;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        img{
            @include displaySizing(100%, 100vh);
            object-fit: cover;
        }
    }
    .wrapper{
        @include displaySizing(40%, 100vh);
        overflow-y: scroll;
        background-color: $primary;
        padding-top: 48px;
        @media only screen and (max-width: 768px) {
            @include displaySizing(100%,100vh )
        }

        .form {
            @include displaySizing(100%, 100%);
            .logoContainer {
                @include displaySizing(100%,160px);
                display: flex;
                justify-content: center;
                img {
                    @include displaySizing(100%, 100%);
                    object-fit: contain;
                }
            }
        }
        .icons{
            color: $vreel_white;
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            cursor: pointer;
            display: none;
            @media only screen and (max-width: 768px) {
                display: block;
            }
            .icon{
                color:$vreel_white;
                font-size: 30px;
            }
        }
    }
}