
@import '@sass/settings/_settings';

.slide{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    @media only screen and (max-width:764px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
 
