
@import '@sass/settings/_settings';

.eventsContainer{
    max-width: 427px;
    background-color:$vreel_light_gray;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 10px;
    &__slide{
        height: 100%;
        margin-top: 2rem;
    }
}