@import "@sass/settings/_settings";
.LinksContainer {
  &__filter {
    color: $vreel_white;
    padding: 10px 20px 0 ;

    @include displayFlex(100%,flex,center,center);
    &__item{
        margin: 0 8px 0 0;
        text-transform: capitalize;
        cursor:pointer,
    }
    
  }
    &__LinksSlides {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: repeat(2,1fr);
      gap: 20px;
      margin-top: 2rem;
      padding: 20px;
    
      &__LinksSlide {
        aspect-ratio: 6/7;
        @media only screen and (max-width:900px) {
          aspect-ratio: 1/1;
        }

        &__imgContainer {
          width: 100%;
          height: 80%;
          border-radius: 10px;
          margin-inline: auto;

          @media only screen and (max-width:400px) {
              height: 70%;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }

        h3 {
          color: $vreel_white;
          text-align: center;
          line-height: 120%;
          letter-spacing: 0.9px;
          padding-top: 6px;
          cursor: pointer;
          &:hover{
            color:$secondary;
          }
        }
      }
    }

}
