@import "@sass/settings/_settings";

.LinksContainer {
  height: calc(100% - 2rem);
  max-height: calc(800px - 2rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, calc(50% - 0.5rem));
  grid-gap: 1rem;
  margin-top: 2rem;
  padding: 0 0.4rem;

  @media only screen and (max-width: 764px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, calc(33% - 1rem));
  }

  // for iphon4
  @media only screen and (max-height: 500px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, calc(50% - 0.5rem));
  }

  @media (min-width: 2000px) {
    max-height: 1000px;
  }

  // only for safari IPhone 6,,7,8
  @media not all and (min-resolution: 0.001dpcm) {
    @media only screen and (max-width: 642px) {
      height: calc(100% - 2rem);
      grid-template-rows: repeat(3, calc(33% - 0.6rem));
    }
  }

  &__LinksSlide {
    box-sizing: border-box;

    &__imgContent {
      width: 10rem;
      aspect-ratio: 1/1;
      border-radius: 5px;
      overflow: hidden;
      margin: auto;

      // for iphon4
      @media only screen and (max-height: 500px) {
        height: 60%;
        aspect-ratio: 1/1;
      }

      @media only screen and (min-width: 1500px) {
        width: 15rem;
        aspect-ratio: 1/1;
      }

      @media only screen and (max-width: 764px) and (min-width: 400px) {
        height: 80%;
        aspect-ratio: 1/1;
      }

      @media only screen and (max-width: 400px) {
        width: 88%;
        aspect-ratio: 1/1;
      }

      @media (width: 1280px) {
        width: 100%;
        aspect-ratio: 1/1;
      }

      @media only screen and (min-width: 2000px) {
        width: 100%;
        aspect-ratio: 1/1;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        object-position: top center;
      }
    }

    &__textContent {
      width: 100%;
      height: 25%;
      padding-top: 12px;

      a {
        text-decoration: none;
        color: $vreel_white;
        text-align: center;
        line-height: 120%;
        letter-spacing: 0.9px;
        cursor: pointer;
        font-size: 1.2rem;
        @include textElipsis(2);

        @media only screen and (max-width: 764px) {
          font-size: 13px;
        }

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
