@import "@sass/settings/_settings";
// .LinksContainer {
//   min-height: 100%;
//   border: 1px solid tomato;
//   &__filter {
//     color: $vreel_white;
//     padding: 10px 20px 0 ;

//     @include displayFlex(100%,flex,center,center);
//     &__item{
//         margin: 0 8px 0 0;
//         text-transform: capitalize;
//         cursor:pointer,
//     }

//   }

// }
.LinksContainer {
  @include displayFlex(100%, flex, space-between, flex-start);
  height: calc(100% - 3.2rem);
  flex-flow: wrap;
  row-gap: 1.6rem;
  margin-top: 2rem;
  padding: 0 0.4rem;

  @media only screen and (max-width: 764px) {
    row-gap: 0rem;
  }
  &__LinksSlide {
    flex: 0 0 calc(calc(100% - 3rem) / 12 * 4);
    height: calc(50% - 1.6rem);

    @media only screen and (max-width: 1024px) {
      flex: 0 0 calc(calc(100% - 2rem) / 12 * 6);
      height: 30%;
    }

    // for iphon4
    @media only screen and (max-height: 500px) {
      flex: 0 0 calc(calc(100% - 30px) / 12 * 6);
      height: 48.5%;
    }

    // Next Hub Device Css Code
    @media only screen and (width: 1024px) and (height: 600px) {
      flex: 0 0 calc(calc(100% - 120px) / 12 * 4);
      height: 48.5%;
    }

    // only for safari IPhone 6,,7,8
    @media not all and (min-resolution: 0.001dpcm) {
      @media only screen and (max-width: 1024px) {
        flex: 0 0 calc(calc(100% - 2rem) / 12 * 6);
        height: 27.5%;
      }
    }

    &__imgContent {
      width: 100%;
      height: 75%;
      border-radius: 10px;
      overflow: hidden;

      // for iphon4
      @media only screen and (max-height: 500px) {
        height: 60%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    &__textContent {
      width: 100%;
      height: 25%;
      padding-top: 5px;

      a {
        text-decoration: none;
        color: $vreel_white;
        text-align: center;
        line-height: 120%;
        letter-spacing: 0.9px;
        cursor: pointer;
        font-size: 1.2rem;
        @include textElipsis(2);

        @media only screen and (max-width: 500px) {
          font-size: 13px;
        }

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
